#anthony
{
text-shadow:2px 5px 9px rgba(255,0,0,0.7);font-weight:normal;color:#AD741D;letter-spacing:5pt;word-spacing:6pt;font-size:3.3em;text-align:center;font-family:verdana, sans-serif;line-height:1;margin:0px;padding:46px;
}

.base
{
text-align: center;
}

